app-customers-ic-table .d3-heatmap-table {
  overflow-x: auto;
  position: relative;
}

/* disable text selection */
app-customers-ic-table svg *::selection {
  background: transparent;
}

app-customers-ic-table svg *::-moz-selection {
  background: transparent;
}

app-customers-ic-table rect.selection {
  stroke: #333;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

app-customers-ic-table rect.cell-border {
  stroke: #eee;
  stroke-width: 0.3px;
}

app-customers-ic-table rect.cell-selected {
  stroke: rgb(51, 102, 153);
  stroke-width: 0.5px;
}

app-customers-ic-table rect.cell-hover {
  stroke: #F00;
  stroke-width: 0.3px;
}

app-customers-ic-table text.mono {
  font-size: 10px;
  font-family: sans-serif;
  fill: #333;
}

app-customers-ic-table text.text-selected {
  fill: #000;
}

app-customers-ic-table text.text-highlight {
  fill: #c00;
}

app-customers-ic-table text.text-hover {
  fill: #00C;
  cursor: pointer;
}

app-customers-ic-table #tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

app-customers-ic-table #tooltip.hidden {
  display: none;
}

app-customers-ic-table #tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}
