<div class="loading-overlay" *ngIf="loading">
  <md-progress-bar mode="indeterminate" color="primary"></md-progress-bar>
</div>

<div class="d3-heatmap-table" #chart (window:resize)="onResize($event)">
  <div id="tooltip" class="hidden">
    <p id="customer"></p>
    <p id="category"></p>
    <p id="count"></p>
  </div>

  <div *ngIf="!loading">
    <md-select id="order" [ngModel]="orderBy" (ngModelChange)="order($event)" placeholder="Order By">
      <md-option value="custcat">Customer and Index Case</md-option>
      <md-option value="cust">Customer</md-option>
      <md-option value="cat">Index Case</md-option>
      <md-option value="custom">Custom Order</md-option>
    </md-select>
  </div>
</div>
