<div class="flex-container" fxLayout="row">
  <md-card fxFlex="50%">
    <md-card-title>
      Customers
    </md-card-title>
    <app-customer-barchart></app-customer-barchart>
  </md-card>
  <md-card>
    <p>My regular content. This will be moved into the proper DOM at runtime.</p>
  </md-card>
</div>
<div class="flex-container" fxLayout="row">
  <md-card fxFlex="50%">
    <md-card-title>
      Top Customers
    </md-card-title>
  </md-card>
  <md-card>
    <p>My regular content. This will be moved into the proper DOM at runtime.</p>
  </md-card>
</div>
