<div class="flex-container" fxLayout="row">
  <md-card fxFlex="50%">
    <md-card-title>
      Update Cases
    </md-card-title>
    <app-customers-barchart></app-customers-barchart>
  </md-card>
</div>
<div class="flex-container" fxLayout="row">
  <div fxFlex="100%">
    <md-card>
      <md-card-title>
        Update Cases by Index Case
      </md-card-title>
      <md-card-content>
        <app-customers-ic-table></app-customers-ic-table>
      </md-card-content>
    </md-card>
  </div>
</div>
