app-circle-packing .nodes circle {
  stroke: #fff;
  stroke-width: 1px;
  cursor: pointer;
}

app-circle-packing .labels text {
  pointer-events: none;
  font: 10px sans-serif;
  fill: #333333;
  text-anchor: middle;
}

app-circle-packing .node {
  cursor: pointer;
}

app-circle-packing .node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

app-circle-packing .node--leaf {
  fill: white;
}

app-circle-packing .label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

app-circle-packing .label,
app-circle-packing .node--root{
/*app-circle-packing .node--leaf {*/
  pointer-events: none;
}
