app-customers-barchart .d3-barchart {
  overflow: hidden;
  max-height: 450px;
  overflow-y: auto;
}

app-customers-barchart .d3-barchart .axis path,
app-customers-barchart .d3-barchart .axis line {
  stroke: #999;
}

app-customers-barchart .d3-barchart .axis text {
  fill: #999;
}

app-customers-barchart .d3-barchart rect {
  fill: rgb(33, 150, 243);
}

app-customers-barchart .d3-barchart text {
  fill: #333;
  font: 10px sans-serif;
  text-anchor: end;
  cursor: pointer;
}

app-customers-barchart .d3-barchart .amount {
  fill: white;
}
