.d3-customer-barchart {
  overflow: hidden;
}

.d3-customer-barchart .axis path,
.d3-customer-barchart .axis line {
  stroke: #999;
}

.d3-customer-barchart .axis text {
  fill: #999;
}

.d3-customer-barchart rect {
  fill: steelblue;
}

.d3-customer-barchart text {
  fill: #333;
  font: 10px sans-serif;
  text-anchor: end;
}
