<md-toolbar>
  <button md-icon-button routerLink="/index-cases">
    <md-icon>arrow_back</md-icon>
  </button>
  <h4 class="md-title" *ngIf="indexCase">{{indexCase.representative}}</h4>

  <md-chip-list>
    <md-chip *ngIf="indexCase" [ngClass]="actionTypeColor" selected="true">{{indexCase.type}}</md-chip>
    <md-chip *ngIf="indexCase">{{indexCase.topic}}</md-chip>
  </md-chip-list>

</md-toolbar>

<div class="flex-container" fxLayout="row">
  <div fxFlex="33%">
    <md-card>
      <md-card-title>
        Total Number of Update Cases
      </md-card-title>
      <app-updates-barchart *ngIf="indexCase" [indexCaseId]=indexCase.id></app-updates-barchart>
    </md-card>
  </div>

  <div fxFlex="66%">
    <md-card>
      <md-card-title>
        Related Index Cases
      </md-card-title>

      <app-forced-graph *ngIf="indexCase" [indexCaseId]=indexCase.id [config]={height:330}></app-forced-graph>
    </md-card>
  </div>
</div>

<div class="flex-container" fxLayout="row">
  <div fxFlex="33%">
    <md-card>
      <md-card-title>
        Update Cases by Customer
      </md-card-title>
      <md-card-content>
        <app-customers-barchart *ngIf="indexCase" [indexCaseId]=indexCase.id></app-customers-barchart>
      </md-card-content>
    </md-card>
  </div>
</div>
