<md-toolbar>
  <button md-icon-button routerLink="/index-cases">
    <md-icon>arrow_back</md-icon>
  </button>
  <h4 class="md-title" *ngIf="indexCase">{{indexCase.representative}}</h4>
</md-toolbar>

<div class="flex-container" fxLayout="row">
  <md-card fxFlex="33%">
    <md-card-title>
      Total Number of Update Cases
    </md-card-title>
    <app-updates-barchart *ngIf="indexCase" [indexCaseId]=indexCase.id></app-updates-barchart>
  </md-card>

  <md-card fxFlex="66%">
    <md-card-title>
      Related Index Cases
    </md-card-title>

    <app-forced-graph *ngIf="indexCase" [indexCaseId]=indexCase.id></app-forced-graph>
  </md-card>
</div>

<div class="flex-container" fxLayout="row">
  <div fxFlex="33%">
    <md-card>
      <md-card-title>
        Update Cases by Customer
      </md-card-title>

      <app-customers-barchart *ngIf="indexCase" [indexCaseId]=indexCase.id></app-customers-barchart>
    </md-card>
  </div>
</div>
