<div class="flex-container" fx-layout="row">
  <md-card fx-flex="50%">
    <md-card-title>
      Top Customers
    </md-card-title>
   <app-customer-barchart [topX] = 10></app-customer-barchart>
    <button md-raised-button routerLink="/customers" color="primary">Show more</button>
  </md-card>
  <md-card>
    <p>My regular content. This will be moved into the proper DOM at runtime.</p>
  </md-card>
</div>
<div class="flex-container" fx-layout="row">
  <md-card fx-flex="50%">
    <md-card-title>
      Top Customers
    </md-card-title>
    <app-customer-barchart [topX] = 10></app-customer-barchart>
  </md-card>
  <md-card>
    <p>My regular content. This will be moved into the proper DOM at runtime.</p>
  </md-card>
</div>
