<div class="flex-container" fxLayout="row">
  <div fxFlex="50%">
    <md-card>
      <md-card-title>
        Top Customers
      </md-card-title>
      <app-customers-barchart [topX]=10></app-customers-barchart>
      <md-card-actions>
        <button md-button routerLink="/customers" color="primary">All Customers</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="50%">
    <md-card>
      <md-card-title>
        Top Index Cases
      </md-card-title>
      <app-index-cases-barchart [topX]=5></app-index-cases-barchart>
      <md-card-actions>
        <button md-button routerLink="/index-cases" color="primary">All Index Cases</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

<div class="flex-container" fxLayout="row">
  <md-card fxFlex="50%">
    <md-card-title>
      Latest Updates
    </md-card-title>
  </md-card>
  <md-card fxFlex="50%">
    <md-card-title>
      All Update Cases
    </md-card-title>
    <p>My regular content. This will be moved into the proper DOM at runtime.</p>
  </md-card>
</div>
