<md-toolbar>
  <button md-icon-button routerLink="/index-cases">
    <md-icon>arrow_back</md-icon>
  </button>
  <h4 class="md-title" *ngIf="indexCase">{{indexCase.representative}}</h4>

  <md-chip-list>
    <md-chip *ngIf="indexCase" [ngClass]="actionTypeColor" selected="true">{{indexCase.type}}</md-chip>
    <md-chip *ngIf="indexCase">{{indexCase.topic}}</md-chip>
  </md-chip-list>

</md-toolbar>

<div class="flex-container" fxLayout="row">
  <div fxFlex="33%">
    <md-card>
      <md-card-title>
        Total Number of Update Cases
      </md-card-title>
      <md-card-subtitle>by Update Type</md-card-subtitle>
      <app-updates-barchart *ngIf="indexCase" [indexCaseId]=indexCase.id></app-updates-barchart>
    </md-card>
  </div>

  <div fxFlex="66%">
    <md-card>
      <md-card-title>
        Related Index Cases
      </md-card-title>
      <md-card-content>
        <app-forced-graph *ngIf="indexCase" [indexCaseId]=indexCase.id [config]={height:330}></app-forced-graph>
        <p>The Area of circles displays the number of Update Cases related to the current <strong>Index Case</strong>, whereas the thickness of the
          connecting arrows only shows the number of Update Cases with the type of <em>UPDATE</em>.</p>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="flex-container" fxLayout="row">
  <div fxFlex="33%">
    <md-card>
      <md-card-title>
        Customers
      </md-card-title>
      <md-card-subtitle>by Number of Update Cases for current Index Case</md-card-subtitle>
      <md-card-content>
        <app-customers-barchart *ngIf="indexCase" [indexCaseId]=indexCase.id></app-customers-barchart>
      </md-card-content>
    </md-card>
  </div>
</div>
