.d3-barchart {
  overflow: hidden;
  max-height: 450px;
  overflow-y: auto;
}

.d3-barchart .axis path,
.d3-barchart .axis line {
  stroke: #999;
}

.d3-barchart .axis text {
  fill: #999;
}

.d3-barchart rect {
  fill: steelblue;
}

.d3-barchart text {
  fill: #333;
  font: 10px sans-serif;
  text-anchor: end;
}

.d3-barchart .amount {
  fill: white;
}
