<md-toolbar>
  <button md-icon-button routerLink="/customers">
    <md-icon>arrow_back</md-icon>
  </button>
  <h4 class="md-title" *ngIf="customer">{{customer.customer}}</h4>
</md-toolbar>
<div class="flex-container" fxLayout="row">
  <div fxFlex="50%">
    <md-card>
      <md-card-title>
        Update Cases
      </md-card-title>
      <app-customer-multi-barchart *ngIf="customer" [customerId]='customer.id'></app-customer-multi-barchart>
    </md-card>
  </div>
  <div fxFlex="50%">
    <md-card>
      <md-card-title>
        Update Case Relations
      </md-card-title>
      <app-forced-graph *ngIf="customer" [customerId]='customer.id'></app-forced-graph>
    </md-card>
  </div>
</div>
