<md-toolbar>
  <button md-icon-button routerLink="/customers">
    <md-icon>arrow_back</md-icon>
  </button>
  <h4 class="md-title" *ngIf="customer">{{customer.customer}}</h4>
</md-toolbar>
<div class="flex-container" fxLayout="row">
  <div fxFlex="50%">
    <md-card>
      <md-card-title>
        Number of Update Cases
      </md-card-title>
      <md-card-subtitle>by Index Case</md-card-subtitle>
      <app-customer-multi-barchart *ngIf="customer" [customerId]='customer.id'></app-customer-multi-barchart>
    </md-card>
  </div>
  <div fxFlex="50%">
    <md-card>
      <md-card-title>
        Related Index Cases
      </md-card-title>
      <md-card-content>
        <app-forced-graph *ngIf="customer" [customerId]='customer.id'></app-forced-graph>
        <p>The Area of circles displays the number of Update Cases related to the current <strong>Customer</strong>, whereas the thickness of the
          connecting arrows only shows the number of Update Cases with the type of <em>UPDATE</em>.</p>
      </md-card-content>
    </md-card>
  </div>
</div>
